

.checkListTitle
{
  background-color : #FFF !important;
  background: #000000 !important;
  
}

.checkList tr:nth-child(even)
{
  background: #CCC
}
.checkList tr:nth-child(odd) {background: #FFF}

.navbar-brand:hover
{
  color : #0000a0 !important;
}

